@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
  --primary: #795548;
  --primary-light: #D7CCC8;
  --primary-dark: #5D4037;
  --accent: #448AFF;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --icons: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, h3, h4, h5 {
  font-family: 'Montserrat',arial,sans-serif;
}

.brand-logo {
  font-size: 1.2rem !important;
  font-family: 'Montserrat';
}