@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&&display=swap');

:root {
  --primary: #03C;
  --primary-light: #D7CCC8;
  --primary-dark: #5D4037;
  --accent: #448AFF;
  --primary-text: #000000;
  --secondary-text: #333333;
  --divider: #BDBDBD;
  --icons: #FFFFFF;
  --surface: #FFFFFF
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, h3, h4, h5 {
  font-family: 'Montserrat',arial,sans-serif;
}

.brand-logo {
  font-size: 1.2rem !important;
  font-family: 'Montserrat';
}